<h2>{{t "sections.aboutUs"}}</h2>

<br />

<div class="row">

	<div class="col-sm-6">
		<blockquote>
			<p>Juan Antonio Gómez</p>
			<p><a href="https://twitter.com/shokmaster086" target="_blank">@shokmaster086</a></p>
		</blockquote>
	</div>

	<div class="col-sm-6">
		<blockquote>
			<p>Beatriz de Miguel</p>
			<p><a href="https://twitter.com/_beademiguel" target="_blank">@_beademiguel</a></p>
		</blockquote>
	</div>

</div>
