<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Restaurants</h3>
	</div>

	<div class="list-group">
	    {{#each model as |restaurant| }}
		  <a href="#" class="list-group-item">
		    <h4 class="list-group-item-heading">{{restaurant.name}}</h4>
		    <p class="list-group-item-text">{{restaurant.description}}</p>
		  </a>
		{{/each}}
	</div>
</div>

